#bl {
    color: white;
    background-color: rgb(36, 36, 36);
}
.firsticons {
    width: 19px;
}
.secondicons {
    width: 19px;
}
#circleimage {
    width: 31px;
}
#mainimage {
    width: 1020px;
}
#headingone {
    font-size: 50px;
}
#headingtwo {
    font-size: 40px;
}